<ul class="list">
    <li>
        <i></i>
        <span>{{ benefit_1 }}</span>
    </li>
    <li>
        <i></i>
        <span>{{ benefit_2 }}</span>
    </li>
    <li>
        <i></i>
        <span>{{ benefit_3 }}</span>
    </li>
</ul>